<nav class="navbar navbar-expand-sm bg-dark navbar-dark" role="navigation">  
    <h1 class="mt-4" style="color: white;">Dashboard</h1>
    <ul class="nav navbar-nav">
        <li><a style="padding-left: 30px;" href="/users/logout" class="btn btn-secondary">Logout</a></li>
        </ul>
</nav>


<p class="lead mb-3">Welcome <%= user.userName%></p>
 <p class="lead mb-3"> Number:<%= user.userNum%></p>
 <p class="lead mb-3"> Address:<%= user.userAdd%></p>
 <p class="lead mb-3"> email:<%= user.useremail%></p>
